

body {

    margin: 0px;
    font-family: Bricolage Grotesque, Tahoma, sans-serif;
    background: linear-gradient(rgb(240, 239, 237), rgb(145, 138, 89));
   
    
}

.avatar {
    height: 250px;
    border-radius: 30px;
    box-shadow: 3px 5px 10px black;
    margin: 45px 0px 0px 45px;
}

.card {

    width: 660px;
    margin: 15% auto;
    padding: 30px 60px 55px 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background: #701714;
    color: rgba(255, 255, 255, 0.829);
    border-bottom: 10px solid #cf7f24;
    border-top: 10px solid #cf7f24;
    box-shadow: 10px 8px 15px black;
    border-radius: 25px;
   
}


h2 ,p ,i {

  text-shadow: 10px 5px 8px black;
}

.about {
  margin: 0px 0px 40px 0px;
  text-shadow: 10px 5px 6px black

}

h2 {

  font-size: 30px;
}


.fa {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }


  .fa-linkedin {
    padding: 12px;
    background: #007bb5;
    color: white;
    margin: 20px 0px 0px 20px;
  }


  .fa-linkedin:hover {

    cursor: pointer;
    box-shadow: 0px 0px 8px whitesmoke;
    transform:scale(1.2, 1.2);
  }

  ul li {

    margin-bottom: 10px;
  }

