
body {

    margin: 0px;
    font-family: Bricolage Grotesque, Tahoma, sans-serif;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.avatar {
    height: 250px;
    border-radius: 30px;
    box-shadow: 5px 6px 10px black;
    margin: 110px 0px 0px 40px;
}

.card {

    width: 720px;
    margin: 12% auto;
    padding: 30px 60px 50px 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background: #314157;
    color: rgba(251, 247, 247, 0.978);
    border-bottom: 14px solid #cdc52e;;
    border-top: 14px solid #cdc52e;
    box-shadow: 12px 8px 15px black;
    border-radius: 30px;
   
}


p {
  
  border-bottom: 2px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 8px;
  text-shadow: 0px 0px 5px black;
  border-radius: 15px;
  box-shadow: 2px 2px 8px black;
  background-color: rgb(105, 101, 85)

}


i {
  text-shadow: 5px 3px 8px black;
}


.Myname {
  
  font-size: 44px;
  text-shadow: 2px 3px 5px black;
  letter-spacing: 2px; 
  margin-bottom: 10px;

}

.Dev {

  font-size: 22px;
  font-family: tahoma;
  text-shadow: 2px 2px 7px black;
  
}


.progr {

  margin: 70px 0px 48px 0px;
  text-shadow: 3px 5px 8px black;
  font-size: 24px;
  letter-spacing: 0.8px;
}


p {

  font-size: 20px;
  margin: 15px 0px 0px 0px;
}


.fa {

    padding: 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    
  }


  .fa-linkedin {

    padding: 11px;
    background: #007bb5;
    color: white;
    margin: 20px 0px 10px 50px; 
    transition-duration: 0.1s;
    transition-property: border-radius, font-size;
    margin-bottom: 0px;
    
    
  }


  .fa-linkedin:hover {

    cursor: pointer;
    box-shadow: 0px 0px 7px whitesmoke;
    border-radius: 8px;
    font-size: 16px;
    
    
   
    
  }


  ul li {

    margin-bottom: 15px;
    color: rgb(223, 223, 63);
    font-size: 20px ;
  }

 